<ion-card color="dark">
  <ion-card-header>            
    <ion-card-subtitle class="noticia-source">
      <span >{{indice + 1}}.</span>
      <span>{{noticia.source.name}}</span>

      <div class="noticia-more">
        <ion-button fill=""
                    (click)="lanzaMenu()">
            <ion-icon slot="icon-only" name="alert"></ion-icon>

        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title class="noticia-title" (click)= abrirNoticia()>{{noticia.title}}</ion-card-title>
  </ion-card-header>

<ion-img *ngIf="noticia.urlToImage" 
          [src]="noticia.urlToImage"></ion-img>

<ion-card-content>
  <p>{{noticia.description}}</p>
</ion-card-content>

</ion-card>